# Project exclude paths
/.gradle/
/build/
/out/
/.idea/

!/src/main/resources/application-oauth.properties
!/src/main/resources/application-real-db.properties

!/application-oauth.properties
!/application-real-db.properties