# Project exclude paths
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.note/

application-oauth.properties
application-real-db.properties
application.properties
